/* ———————————————————————————————————————————————————————————————————————————— */
/*                                   ✨ Notes ✨                                
/* ———————————————————————————————————————————————————————————————————————————— */

/* —————————————————————————— 📝 Quick To-Do List 📝 —————————————————————————— */
/*
		!TODO :     Create section containers and maintain consistent spacing between
		            sections 

		!TODO :     Create constants for box width/height 

		!TODO :     Make scroll snap y axis to center to account for large grid on narrow
		            screen (scroll-snap-align: center;) 

*/

/* —————————————————————————————————— GENERAL ————————————————————————————————— */

html {
	background-color: #c2b4ff;
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	font-size: 0.7rem;
	margin: 0 auto;
	height: 100%;
}

body {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	align-content: center;
	flex-direction: column;
	box-sizing: border-box;

	width: clamp(500px, 36%, 60%);
	/* margin: 0 24%; */
	margin: 0 auto;
	height: 100%;
}

.rainbow-wrapper-outside {
	align-items: center;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	padding: 2px;
	width: 100%;
	background: linear-gradient(
		135deg,
		rgba(255, 0, 0, 1) 0%,
		rgba(255, 154, 0, 1) 10%,
		rgba(208, 222, 33, 1) 20%,
		rgba(79, 220, 74, 1) 30%,
		rgba(63, 218, 216, 1) 40%,
		rgba(47, 201, 226, 1) 50%,
		rgba(28, 127, 238, 1) 60%,
		rgb(62, 21, 242) 70%,
		rgba(95, 21, 242, 1) 80%,
		rgba(186, 12, 248, 1) 90%,
		rgba(251, 7, 217, 1) 100%
	);
	border-radius: 10px;
}

.rainbow-wrapper-inside {
	border-radius: 8px !important;
	border: 4px solid #f4f3fb !important;
	box-sizing: border-box;
	outline-offset: -1px !important;
	outline: 1px solid black !important;
	width: 100%;
	height: 100%;
	background-color: #f4f3fb;
}

p {
	text-align: center;
}

/* ————————————————————————————————— SCROLLBAR ———————————————————————————————— */

::-webkit-scrollbar {
	width: 18px;
	height: 18px;
}
::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 4px !important;
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5) !important;
	border: 1px solid #f4f3fb;
}
::-webkit-scrollbar-track {
	background-color: #d0d0d0;
	border-radius: 4px;
	/* margin: 4px; */
	border: 1px solid #f4f3fb;
}

/* ——————————————————————————— ASCII BANNERS/HEADERS —————————————————————————— */

.banner {
	width: 100%;
	/* margin-bottom: 8%; */
	/* border: 1px solid #8080808a; */
	/* border-radius: 8px; */
	/* padding: 0.5%; */
	box-sizing: border-box;
	/* box-shadow: 0px 0px 1px 1px #8080804d; */
}
.ascii-wrapper {
	width: 100%;
	text-align: center;
}
p.ascii {
	font-size: 0.9em;
	/* scale: 0.9; */
	/* transform: scale(0.8); */
	/* padding: 8% 0 2% 0; */
}

/* —————————————————————————————— MAIN CONTAINER —————————————————————————————— */

#main-container {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	margin: 0 auto;
	padding: 6% 10%;
	width: 100%;
	height: 100%;
	background-color: #f4f3fb;
	overflow-y: auto;
	box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
}

/* ————————————————————————————————— SECTIONS ————————————————————————————————— */

section {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
	/* margin: 2% 0; */
	/* Section outline option: */
	/*  	border-radius: 10px;
			border: 20px solid transparent;
			outline: 1px solid rgb(0, 0, 0); */
	/* ... Maybe I could use it for the 2nd and 3rd sections only? Or one outline that visually groups sections 2 and 3 (input image preview + results)? */
}

.section-content {
	margin: 10% 0;
}

/* First section looks nicer with a bit of extra breathing room */
#section-1-content {
	margin-bottom: 12%;
}

/* ————————————————————————————————— SECTION 1 ———————————————————————————————— */
/*                       (Elements visible on page load)                        */
/* ———————————————————————————————————————————————————————————————————————————— */
p#description {
	font-size: 1.2em;
	/* width: 100%; */
}

#form-container {
	margin-top: 8%; /* Slightly smaller than section margin */
}
form {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1.5fr;
	column-gap: 2%;
}
input[type="file"] {
	box-sizing: border-box;
	background-color: #f4f3fb;
	border-radius: 8px;
	border: 1px solid black;
	box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding: 1%;
	width: 100%;
	font-family: inherit;
}
input[type="file"]::file-selector-button {
	box-sizing: border-box;
	background-color: rgb(17, 17, 17);
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.241);
	color: white;
	margin-right: 4%;
	padding: 2px 8px;
	font-family: inherit;
	height: 100%;
}
input[type="file"]::file-selector-button:active {
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.401);
	/* scale: 0.99; */

	transform: translate(0px, 1px);
}

input[type="number"] {
	background-color: #f4f3fb;
	border-radius: 4px;
}

#number-form-elements {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 4%;
}
#number-form-elements input {
	width: 40px;
}
button[type="submit"] {
	box-sizing: border-box;
	background-color: rgb(17, 17, 17);
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.241);
	color: white;
	font-family: inherit;
	height: 100%;
	width: 100%;
	margin-top: 2%;
	padding: 1%;
}

/* ——————————————————————————————— SECTION 2 & 3 —————————————————————————————— */
/*    Sections hidden until grid creation ('Original' & 'Divified' Sections)    */
/* ———————————————————————————————————————————————————————————————————————————— */

.collapsible {
	/* display: block; */ /* Uncomment this if there are any issues with collapsed/hidden elements*/
}

.collapsed {
	/* visibility: collapse ; */
	display: none !important;
	height: 0;
}

#textareas-container {
	align-items: center;
	grid-template-columns: auto auto;
	display: grid;
	justify-content: center;
	/* padding: 0 2%; */
	margin-top: 8%;
	column-gap: 2%;
}

.textarea-label {
	display: inline;
	font-weight: bold;
	font-size: 16pt;
}
/* #html-textarea-wrapper {
	margin-right: 2%;
}
#css-textarea-wrapper {
	margin-left: 2%;
} */

.textarea-wrapper {
	/* display: inline; */
	/* margin: 0 2%; */
}

textarea {
	/* border-radius: 8px;
	border: 4px solid white; */
	/* box-sizing: border-box; */
	height: 320px;
	/* outline-offset: -1px;
	outline: 1px solid black; */
	width: 100%;
}

/* ——————————————————————————————————— GRID ——————————————————————————————————— */

#grid-wrapper {
	/* scroll-snap-align: center; */
	margin: 0 auto;
	width: 100%;
	background-color: white;
}

#grid {
	/* scroll-snap-align: center; */
	/* margin: 0 auto;
	overflow: auto;
	width: 100%; */
	display: flex;
	overflow: auto;
	/* text-align: center; */
	/* width: 25%; */
	/* border: solid 1px red; */
	/* margin: 0px auto 0px auto; */
	/* overflow: hidden; */
	/* scroll-snap-align: center; */
	/* margin: 0 auto; */
	/* overflow: auto; */
	/* width: 100%; */
	flex-direction: column;
	/* justify-content: center; */
	/* justify-items: center; */
	/* align-items: center; */
	/* margin: auto -50px; */
	/* padding: -8% -12%; */
}

.row {
	display: grid;
	height: fit-content;
	width: fit-content;
	margin: 0 auto;
}

/* Grid Colour-Coding */
.cell {
	border: 1px solid black;
	box-sizing: border-box !important;
}

/* Grid Cell Labels*/
.labelled:nth-child(1n):before {
	align-items: center;
	color: grey;
	/* !NOTE(content: attr(id);) - Could also use attr(class); */
	content: attr(id);
	display: flex;
	font-size: 6pt;
	height: 100%;
	justify-content: center;
	text-transform: uppercase;
}

/* —————————————————————————————————— FOOTER —————————————————————————————————— */

/* Footer(Full Page Width) */
/*
footer{ 
	background-color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0;
}
*/

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	position: sticky;
	bottom: 0;
	height: 32px;
	width: 100%;
	overflow: hidden;
}

footer a {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
	color: #f4f3fb;
	text-transform: uppercase;
	text-decoration: none;
}
footer a:hover {
	text-decoration: underline;
}
footer img#github-logo {
	box-sizing: border-box;
	padding: 8px;
	height: 100%;
}
/* —————————————————————————————— Messing Around —————————————————————————————— */

/* #c8-r32:hover { */
/* #c8-r33 {
	position: relative;
	display: inline-block;
}
#c8-r33:hover {
	height: 50px !important;
	width: 50px !important;
}

#c8-r33:hover:before {
	transform: scale(1) !important;
}

#c8-r33:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.3s ease-out;
	z-index: -1;
} */

/* .hovered {
	scale: 1.5;
	z-index: 999 !important;
	position: absolute !important;
} */

/* @media only screen and (max-width: 500px) {
	body {
		width: 100%;
		height: 97.5%;
		border: 10px solid #c2b4ff;
	
		margin: auto;

	}
	#main-container{

		border-radius: 10px;;
		border: 4px solid #f4f3fb;
		padding-left: 4%;
		padding-right: 4%;
		
	}
	#main-container::-webkit-scrollbar{
		margin:10px;
		background-color: red;
	}
	footer{
		position:absolute;
	}
} */

@media only screen and (max-width: 1600px) {
	#main-container {
		padding-left: 8%;
		padding-right: 8%;
	}
}

@media only screen and (max-width: 500px) {
	body {
		width: 100%;
		/* height: 97.5%; */
		border: 10px solid #c2b4ff;

		margin: auto;
	}
	#main-container {
		border-top-right-radius: 10px;
		border-top-left-radius: 10px;
		border-top: 8px solid #f4f3fb;
		/* padding-left: 4%;
		padding-right: 4%; */
	}

	footer {
		position: block;
		border-bottom-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
}
