/*	
		/* ************************************************************************** /*
		/*                                ✨ Notes ✨                                /*
		/* ************************************************************************** /*

		    ---     
			---     
			---    	

		/* ************************** 📝 Quick To-Do List 📝 *********************** /*

		!TODO :     Create constants for box width/height 

		!TODO :     Make scroll snap y axis to center to account for large grid on narrow
		            screen (scroll-snap-align: center;) 
*/

html {
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	font-size: 6pt;
	height: fit-content;
	margin: 0 auto;
	width: fit-content;
	background-color: rgb(237, 198, 203);
}

body {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: center;
	margin: 0;
	width: fit-content;
	/* width: fit-content; */
}

/* 
#grid {

} 
*/

textarea {
	margin: 24px;
}
.row {
	display: grid;
	height: fit-content;
	width: fit-content;
	/* background-color: white; */ /* Don't uncomment this and then wonder why the alpha channel isn't working lmao 🤦‍♀️*/
	/* padding-left: 20px; */
}

/* For grid colour-coding */
.cell {
	box-sizing: border-box !important;
	width: 20px; /* Remove when toggle is added */
	height: 20px; /* Remove when toggle is added */
	border: 1px solid black;
}

/* 
    !NOTE(content: attr(id);) - Could also use attr(class); instead but it has an underscore so I used id  
    instead 
*/
.labelled:nth-child(1n):before {
	display: flex;
	align-items: center;
	justify-content: center;
	color: grey;
	content: attr(id);
	font-size: 6pt;
	/* font-weight: bold; */
	height: 100%;
	text-transform: uppercase;
}

/* ---------------------------------------- */

/* #c8-r32:hover { */
/* #c8-r33 {
	position: relative;
	display: inline-block;
}
#c8-r33:hover {
	height: 50px !important;
	width: 50px !important;
}

#c8-r33:hover:before {
	transform: scale(1) !important;
}

#c8-r33:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: all 0.3s ease-out;
	z-index: -1;
} */

.hovered {
	/* width: 20px !important;
	height: 20px !important; */
	scale: 1.5;
	z-index: 999 !important;
	position: absolute !important;
	/* border: 2px solid red; */
}

.hidden {
	display: none;
}
