/*	
		/* ************************************************************************** /*
		/*                                ✨ Notes ✨                                /*
		/* ************************************************************************** /*

		    ---     
			---     
			---    	

		/* ************************** 📝 Quick To-Do List 📝 *********************** /*

		!TODO :     Create constants for box width/height 

		!TODO :     Make scroll snap y axis to center to account for large grid on narrow
		            screen (scroll-snap-align: center;) 
*/

html {
	box-sizing: border-box;
	font-family: "Courier New", Courier, monospace;
	font-size: 6pt;
	height: fit-content;
	margin: 0 auto;
	width: fit-content;
	background-color: l;
}

body {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: fit-content;
	justify-content: center;
	margin: 0;
	width: fit-content;
	/* width: fit-content; */
}

/* 
#grid {

} 
*/

.row {
	display: grid;
	/* grid-template-columns: auto auto auto auto auto auto auto auto auto auto; */
	grid-template-rows: repeat(21, auto);
	height: fit-content;
	width: fit-content;
	background-color: white;
	/* padding-left: 20px; */
}

.cell {
	box-sizing: border-box !important; /* IMPORTANT - TAKES AWAY ADDED SPACE FROM BORDER (TAKES ITS WIDTH INTO ACCOUNT SO EACH CELL STAYS 20X20)*/
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

/* 
    !NOTE(content: attr(id);) - Could also use attr(class); instead but it has an underscore so I used id  
    instead 
*/
.labelled:nth-child(1n):before {
	display: flex;
	align-items: center;
	justify-content: center;
	color: grey;
	content: attr(id);
	font-size: 8pt;
	font-weight: bold;
	height: 100%;
	text-transform: uppercase;
}
